@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F2EEEB, #BFB2AA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #261C1E;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #261C1E;
    text-align: center;
    text-shadow: 1px 1px 2px #7a4a54;
}
h2 {
    color: #BF6E50;
}
P {
    text-align: justify;
}
